*.tfstate
/.terrform 
terrform.tfstate.backup
terrform.tfstate
infrastructure/.terraform.lock.hcl
infrastructure/.terraform/
infrastructure/terraform.tfstate.backup
*.pyc
db.sqlite3
logs/
static/
