{% extends "base.html" %}
{% load static %}
{% block page_content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
      <h1>Matt Williamson</h1>
      <h2>I'm a software developer, infrastructure architect, and product manager</h2>
      <a href="{% url 'about' %}" class="btn-about">About Me</a>
    </div>
  </section><!-- End Hero -->

{% endblock %}