{% extends "base.html" %}
{% load static %}
{% block page_content %}

<main id="main">

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Resume</h2>
        <p>Experienced technology leader with over 12 years in engineering, product management, and cloud infrastructure, specializing in AWS services, serverless computing, and container orchestration.</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Summary</h3>
          <div class="resume-item pb-0">
            <h4>Matthew Williamson</h4>
            <p><em>Eager to apply deep AWS expertise in a role that crafts impactful SaaS solutions.</em></p>
            <ul>
              <li>La Porte, Indiana</li>
              <li>(219) 575-9999</li>
              <li>mahwill29@gmail.com</li>
            </ul>
          </div>

          <h3 class="resume-title">Core Competencies</h3>
          <div class="resume-item">
            <p><em>Expert in Programming & Scripting, Cloud Architecture & Infrastructure, Containerization & Orchestration, DevOps & CI/CD, Leadership & Project Management, Monitoring and Logging, Incident Management, and Cost Optimization.</em></p>
          </div>

          <h3 class="resume-title">Key Achievements</h3>
          <div class="resume-item">
            <ul>
              <li>Led AWS migration at LinkLive, enhancing operational efficacy and driving FedRAMP compliance.</li>
              <li>Established robust CI/CD pipelines, improving deployment efficiency.</li>
              <li>Spearheaded cost optimization efforts at vMOX, reducing AWS costs significantly.</li>
            </ul>
          </div>

          <h3 class="resume-title">Education and Certifications</h3>
          <div class="resume-item">
            <h4>B.S. Information Technology</h4>
            <h5>2014</h5>
            <p><em>Purdue University North Central, Westville, IN</em></p>
          </div>
          <div class="resume-item">
            <ul>
              <li>Certified Solutions Architect – Associate, Amazon Web Services (2017)</li>
              <li>Certified SysOps Administrator – Associate, Amazon Web Services (2017)</li>
              <li>Certified Scrum Product Owner, Scrum Alliance (2021)</li>
              <li>Certified DevOps Engineer – Professional, Amazon Web Services (2023)</li>
              <li>Certified Kubernetes Administrator (CKA), Linux Foundation (2023)</li>
            </ul>
          </div>
        </div>

        <div class="col-lg-6">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Director of Product Management at LinkLive</h4>
            <h5>Sept 2022 - Present</h5>
            <ul>
              <li>Spearheaded the design and implementation of a comprehensive CI/CD pipeline.</li>
              <li>Developed and deployed an AI-powered API suite on AWS EKS.</li>
              <li>Led the integration of Mongo Atlas into the cloud infrastructure.</li>
              <li>Drove the productization of on-demand AWS stack deployments.</li>
              <li>Instituted a rigorous unit testing framework in the SDLC.</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Director of Product Management at vMOX</h4>
            <h5>Jan 2017 – Sept 2022</h5>
            <ul>
              <li>Led enterprise architecture modernization initiative.</li>
              <li>Championed the containerization of legacy applications using Docker.</li>
              <li>Pioneered the adoption of Agile and Scrum methodologies.</li>
              <li>Improved pipeline scaling by migrating to GitHub with GitHub Actions.</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Director of Operations and Development at vMOX</h4>
            <h5>Jan 2014 – Jan 2017</h5>
            <ul>
              <li>Led the strategic transition of infrastructure to AWS EC2.</li>
              <li>Oversaw the development and launch of a SaaS platform using Ruby on Rails.</li>
              <li>Implemented a serverless real-time event processing system using AWS Kinesis.</li>
            </ul>
          </div>

          <h3 class="resume-title">Additional Experience</h3>
          <div class="resume-item">
            <p>Additional roles include Senior Account Manager/Developer, Business Analyst/Developer, and Intern at vMOX.</p>
          </div>

          <h3 class="resume-title">Patents</h3>
          <div class="resume-item">
            <ul>
              <li>US Patent #10033879: Mobile Device Usage Optimization</li>
              <li>US Patent #10462306: Application Usage Optimization</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->

</main><!-- End #main -->

{% endblock %}
